<div class="cl-page" id="favouriteSportsSelector">
	<div class="cl-bar-title">
		<div class="cl-title">Favoriete sporten</div>
		<h3><b>Hey user</b>, wat zijn jouw favoriete sporten?</h3>
	</div>

	<div class="cl-content" style="overflow: scroll;">
		<div id="favouriteSportList">
			<div><a class="sportselector-btn" id="sportselector" href="javascript:;"></a><span>Wijzig</span></div>
		</div>
	</div>

	<div class="button-container">
      <a  href="javascript:;" id="confirm" class="cl-btn cl-depth-btn ">Sporten kiezen</a>
    </div>
</div>
