<div class="cl-page" id="planner">
  <div class="cl-bar-title">
    <a href="javscript:;" class="cl-btn cl-btn-header" data-transition="slide-out" id="menuButton">
      <i class="menu-icon">&nbsp;</i>
    </a>
    <div class="cl-title">Planner</div>
  </div>

  <div class="cl-content">
    <div id="profileMessage" class="cl-message hide">
        Je neemt momenteel geen deel aan een activiteit.
    </div>

    <div id="myActivitiesPlanner" class="hide">
      <div class="cl-bar">
        <p class="cl-bar-text">Aangemaakte activiteiten</p>
      </div>      
      <div class="cl-table" id="myActivitiesTable" class="hide">
        
      </div> 
    </div>

    <div id="myInvitationsPlanner" class="hide">
      <div class="cl-bar">
        <p class="cl-bar-text">Je bent uitgenodigd voor deze activiteit</p>
      </div>
    	<div class="cl-table" id="myInvitationsTable" class="hide">

    	</div>
    </div>

    <div id="myPlanner" class="hide">
    	<div class="cl-bar">
          <p class="cl-bar-text">Je gaat naar deze activiteiten</p>
      </div>
      <div class="cl-table" id="myPlanningTable">
    	    
    	</div>
    </div>

  </div>
</div>