<span class="sports-badge" style="background: #ede0d6 url('<%= imagePath %><%= sport %>') no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;"></span>
<span class="sports-bubble">
<span class="edit-badge" style="display: none;"></span>
<h2 data-id="<%= data.activity_id %>"><%= data.title %></h2>
<ul class="planner-footer">
    <li class="table-time">
    <%= data.date %> <%= data.time %>
    </li>

    <li class="table-location">
	<%= data.location %>
    </li>
</ul>
</span>
