@import "compass/reset";
@import "compass";

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}



/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.outer-center {
    float: right;
    right: 50%;
    position: relative;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
}
.clear {
    clear: both;
}

.bubblingG {
  text-align: center;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: table-cell;
}

.bubblingG span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  margin: 25px auto;
  background: #DD6462;
  -moz-border-radius: 50px;
  -moz-animation: bubblingG 1.3s infinite alternate;
  -webkit-border-radius: 50px;
  -webkit-animation: bubblingG 1.3s infinite alternate;
  -ms-border-radius: 50px;
  -ms-animation: bubblingG 1.3s infinite alternate;
  -o-border-radius: 50px;
  -o-animation: bubblingG 1.3s infinite alternate;
  border-radius: 50px;
  animation: bubblingG 1.3s infinite alternate;
}

#bubblingG_1 {
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

#bubblingG_2 {
  -moz-animation-delay: 0.39s;
  -webkit-animation-delay: 0.39s;
  -ms-animation-delay: 0.39s;
  -o-animation-delay: 0.39s;
  animation-delay: 0.39s;
}

#bubblingG_3 {
  -moz-animation-delay: 0.78s;
  -webkit-animation-delay: 0.78s;
  -ms-animation-delay: 0.78s;
  -o-animation-delay: 0.78s;
  animation-delay: 0.78s;
}

@-moz-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#DD6462;
-moz-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-moz-transform: translateY(-21px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#DD6462;
-webkit-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-webkit-transform: translateY(-21px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#DD6462;
-ms-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-ms-transform: translateY(-21px);
}

}

@-o-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#DD6462;
-o-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-o-transform: translateY(-21px);
}

}

@keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#DD6462;
transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
transform: translateY(-21px);
}

}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.clear{
  clear: both;
}

/* Error box */
label.error{
  background: #dd6562;
  display: block;
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 5px;
  color: #fff;
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s;
  -o-animation: fadein 0.5s;
  position: relative;
  font-size: 13px;
  font-weight: 100;
  clear:both;
}
label.error:after {
  bottom: 100%;
  left: 36px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #dd6562;
  border-width: 7px;
  margin-left: -25px;
}

form .cl-btn{
  width: 100% !important;
}

#activity-header{
	height: 150px;
	width: 100%;
	position: relative;
}

#activityMap, #map{
  height: 150px;
  width: 100%;
}

#sortBar p, #searchBar p{
  float: left;
}

#sortBar select{
  width: 170px;
  margin-top: 12px;
}

.entypo-icon{
  font-size: 3em;
  font-family: 'EntypoRegular';
  font-style: inherit;
}

#navigateButton{
	display: inline-block;
  background: #fff;
  color: #fff;
  font-size: 12px;
  float: right;
}

#createActivity .cl-btn-toolbar .cl-btn,
#activityDetail .cl-btn-toolbar .cl-btn,
#activityDetail .cl-btn-toolbar.flex .cl-btn:nth-child(2):not(:last-child),
#profile .cl-btn-toolbar .cl-btn,
#navigationView .cl-btn-toolbar .cl-btn{
	border-radius: 0;
	margin-right: 0;
	padding: 8px 0;
	margin: 0;
  background: #d55353;
}


#activityDetail .cl-btn-toolbar .cl-btn.active, #navigationTabs .cl-btn-toolbar .cl-btn.active{
	background: #fff !important;
	color: #d55353;

}

#activityDetail .cl-btn-toolbar.flex{
	padding: 0;
}

#activityDetail hr{
	background-color:#fff;
	border:#000 1px dotted;
	border-style: none none dotted;
	color:#fff;
}

#availibleBar .cl-btn{
	background: #c68436;
}

#availibleBar .cl-btn:first-child{
	background: #af7633;
}

#createActivityTabs, #navigationTabs{
	margin: 0;
	padding: 0;
}

#createActivityTabs .active, #profileTabs .active, #navigationTabs .active{
	background: #fff;
	color: #000000;
}

#profile .cl-btn-toolbar.flex{
	padding: 0;
}

#map_canvas, #googleMap{
	width: 100%;
	height: 100%;
	display: block;
}

/* Create new user page */
#createUserForm .error, #loginForm .error{

}


#createUserForm input.error, #loginForm input.error{
	margin-bottom: 0;
}



/* Login page */
.error-box{
	background: #dd6562;
	display: block;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 5px;
	color: #fff;
}


.error-box.hide{
	display: none;
}
.error-box.show{
	display: block;
}

#FBloginButton{
  margin-bottom: 10px;
}

/**
* Pageslider
*/
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.page-left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.page-center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.page-right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}


/**
* Backbone autocomplete
*/
ul.autocomplete {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    margin: 0;
    padding: 3px 0;
    width: 100% !important;
    z-index: 1000;
}

ul.autocomplete li {
    list-style: none;
    margin: 0;
    padding: 12px 7px;
}

ul.autocomplete li.active, ul.autocomplete li:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}

ul.autocomplete li a {
    color: #3d3d3d;
    text-decoration: none;
}


.align-center{
  text-align: center;
}



.field > span {
    display: block;
    overflow: hidden;
    padding-right: 10px
}
.field input[type=text] {
    width: 100%
}
.field input[type=button] {
    float: right
}






#friendsListView{
 div{
 float: left;
 }

 div, .friendsBox{
    display: inline-block;
  }
}


/* Page specific */


#waarContent{
  #map_canvas{
    height: 400px;
  }
}


#navigationView{
  #map_canvas{
    height: 50%;
  }

  #directions{
    height: 50%;
    padding: 10px;
  }

  .adp-substep{
    padding: 10px;
  }
}


#myInvitationsTable{

  .cl-table-cell{
    padding: 10px 0;
  }

  .cl-table-cell a{
    display: inline-block;
  }

  .cl-btn-group.float{
    display: inline-block;
    float: right;
  }
}


/*
* Final styling 
*/

body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input.error{
  border: 1px solid #dd6562 !important;
}


/**
* FORM PAGES
*/
#home, #createUser, #createActivity, #settings{
  background: #4dd6d1;
  height: 100%;

    #carouselNav{
      height: 20px;
      display: inline-block;
      position: absolute;
      z-index: 1000;
      text-align:center;
      width: 100%;
      left: 0;

      li{
        display: inline-block;
      }

      a{
        background: #666;
        text-indent: -9999px;
        display: block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        outline: 0;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
      }

      a.active{
        background: #3a547c;
      }
    }

  #carousel{
    display: none;
    #carouselContent{
      display: block;
      width: 100%;
      overflow: hidden;

      li{
        display: table;
        width: 100%;
        height: calc(100% - 270px);
        .valign{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }

      h1{
        font-family: pacificoregular;
        color: #3a577a;
        text-align:center;
        display: block;
        font-size:2.8em;
        margin-top: 20px;
      }

      h3{
        display: block;
        text-align: center;
        font-size: 1.2em;
        font-family: aleolight, helvetica;
        margin-top: 18px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.5em;
        color: #1C1C1B;
      }

      .imageHolder{
        text-align: center;
        margin-top: 5px;
        img{

        }
      }

      #car0{
        background: url('../../common/img/pattern1.png') repeat center center / 553px 576px;
        overflow: hidden;
        text-align: center;
      }

      #car1{
        background: url('../../common/img/pattern2.png') repeat center center / 736px 475px;
        overflow: hidden;
        text-align: center;
        display: none;
      }

      #car2{
        background: url('../../common/img/pattern3.png') repeat center center / 594px 475px;
        overflow: hidden;
        text-align: center;
        display: none;
      }
    }
  }

  .cl-btn-header{
    border: 0;
    padding: 0;
  }

  .cl-content{
    background: none;
    height: 100%;
    width: 100%;
    overflow: auto;

    hr{
      color:#adadac;
      border:none;
      border-top:1px solid #adadac;
      height:1px;
    }

    #loginBox{
      height: auto;
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #fff;
      padding: 10px 16px;

      #carouselNav{
        position: absolute;
        top: -25px;
      }
    }

    h4{
      color: #3d3d3d;
      font-family: "bitteritalic";
      padding: 10px 0;
      display: block;
    }

    #home_logo{
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 40px;
    }

    input[type=email], input[type=password], input[type=text], input[type=date], input[type=time], textarea{
      background: none;
      border: none;
      color: #1d1d1b;
      padding: 20px 0 20px 10x;
      font-size: 1.1em;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      margin: 0;
    }

    @-moz-document url-prefix() {
      input[type=email], input[type=password], input[type=text], input[type=date], input[type=time], textarea{
            padding: 0 0 0 10x;

          }
      }

    input[type=email]{
      padding-left: 34px;
      background:url('assets/mail-icon@x2.png') no-repeat 10px 15px / 15px 12px;
    }

    input[type=password]{
      padding-left: 34px;
      background:url('assets/lock-icon@x2.png') no-repeat 10px 12px / 12px 16px;
    }

    #nameInput{
      padding-left: 34px;
      background:url('assets/speech-icon@x2.png') no-repeat 10px 12px / 15px 15px;
    }

    #passwordInput, #passwordValidateInput{
      height: auto;
      padding: 12px 0 12px 34px;
    }
  }
}


/**
* CreateUser
*/

  #facebookLoad{
    .cl-popover{
      width: 100%;
      top: 0;
      left: 0;
      border-radius: 0;
    
      h4{
        padding-left: 40px;
        font-family: "bitteritalic";

      }
    }

    .cl-loading-wrapper{
      width: 30px;
      height: 30px;
    }

  }

#createUser, #createActivity, #settings{
  background: #fff;

  .cl-content{
    height: calc(100% - 140px);
  }

  .cl-message{
    padding: 10px;
    background-color: #fef5e4;
    line-height: 1.6em;
  }

  .cl-form{
      position: relative;


    .radio-list label{
      background: none;
      border: none;
      font-weight: 300;
      cursor: pointer;
      border-radius: 3px;
      padding-left: 40px;
    }

     #s1.checked{
      background: url('assets/male-gender-icon-selected@x2.png') no-repeat top left / 30px 30px;
      color: #000;
    }

     #s2.checked{
      background: url('assets/female-gender-icon-selected@x2.png') no-repeat top left / 30px 30px;
      color: #000;
    }

    #s1{
      background: url('assets/male-gender-icon@x2.png') no-repeat top left / 30px 30px;
    }

    #s2{
      background: url('assets/female-gender-icon@x2.png') no-repeat top left / 30px 30px;
    }

    input[type=email]{
      padding-left: 34px;
      background: #ededed url('assets/mail-icon@x2.png') no-repeat 10px 15px / 15px 12px;
    }

    input[type=password]{
      padding-left: 34px;
      background: #ededed url('assets/lock-icon@x2.png') no-repeat 10px 12px / 12px 16px;
    }

    #nameInput{
      padding-left: 34px;
      background: #ededed url('assets/speech-icon@x2.png') no-repeat 10px 12px / 15px 15px;
    }
  }
}

#createUser{
  label.error{
    margin-top: -5px;
  }

  .cl-bar-title{
    background: #4dd6d1 url('../../common/img/registerpattern.png') center center / 320px 568px;

    .cl-title{
      padding: 10px 0 20px 0;
      font-family: pacificoregular;
      color: #3a577a;
      text-transform: capitalize;
      font-size: 2.6em;
    }
  }

  .cl-content{
    padding: 10px 16px;
  }

  .button-container{
    background: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 26px;
  }

  #createUserForm{
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      background: #303d4d url('../../common/img/sliderButton.png') 0 0 / 20px 20px;
      height:20px;
      width:20px;
      border: 0;
    }

    input[type=text], input[type=password], input[type=email]{
      border-radius: 0;
      margin-bottom: 15px;
    }
  }
}

#createUser, #watContent{


  #range, #participants{
    width: auto;
    height: auto;
    text-align: center;
    background: #a3917d;
    padding: 7px 12px;
    float: right;
    color: #fff;
    font-weight: bold;
  }
}


.prev-icon{
  background: url('assets/prev-icon@x2.png') no-repeat left center / 11px 22px;
  width: 40px;
  height: 40px;
  display: block;
}

.menu-icon{
  background: url('assets/menu-icon@x2.png') no-repeat center center / 23px 16px;
  width: 40px;
  height: 40px;
  display: block;
}

.add-icon{
  background: url('assets/add-icon@x2.png') no-repeat center center / 23px 16px;
  width: 20px;
  height: 20px;
  display: block;
}

.share-icon{
  background: url('assets/share-icon@x2.png') no-repeat center center / 22px 19px;
  width: 22px;
  height: 19px;
  display: block;
}

.location-icon{
    background: url('assets/map-icon@x2.png
') no-repeat center center / 15px 14px;
  width: 22px;
  height: 19px;
  display: inline-block;

}

/**
* Loading
*/
#loading{
  background: #303d4d url('../../common/img/loading_background.png') repeat top left / 320px 568px;
  height: 100%;
  display: table;

  .cl-loading-wrapper{
    text-align:center;
  }

  h2{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    vertical-align:middle;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    display: inline-block;
    small{
      font-size: 14px;
      margin-top: 10px;
      display: block;
    }
  }
}


/**
* Select sports
*/
#favouriteSportsSelector{
  .cl-bar-title{
    background: #dacab4;


    .cl-title{
      font-family: pacificoregular;
      color: #505050;
      text-transform: capitalize;
      font-size: 2.4em;
    }

    h3{
      text-align: center;
      display: block;
      font-family: aleolight;
      font-size: 1.2em;
      line-height: 1.3em;
      padding-bottom: 20px;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      b{
        font-family: aleoregular;
      }
    }
  }

  .button-container{
    background: #fff;
    padding: 10px 16px !important;  
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .cl-content{
    background: #ede1d1;
    height: calc(100% - 182px);

    #favouriteSportList{
      display: block;
      margin: 10px;
      padding-bottom: 50px;

      div{
        float: left;
        display: inline-block;
        margin-bottom: 15px;

        span{
          display: block;
          text-align: center;
          font-size: 11px;
        }

        a{
          width: 60px;
          height: 60px;
          background: #a3917d;
          margin: 7px;
          padding: 2px;
          float: left;
          text-align: center;
          font-size: 12px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px; /* border radius */
          -moz-background-clip: padding;
          -webkit-background-clip: padding-box;
          background-clip: padding-box; /* prevents bg color from leaking outside the border */
          position: relative;
          -webkit-box-shadow: inset -5px -5px 0px -2px rgba(131,115,97,1);
          -moz-box-shadow: inset -5px -5px 0px -2px rgba(131,115,97,1);
          box-shadow: inset -5px -5px 0px -2px rgba(131,115,97,1);

          .rm{
            margin-top: 0;
            padding: 0;
          }

          .layer{
            position: absolute;
            top: 6px;
            left: 6px;
            width: 48px;
            height: 48px;
            pointer-events: none;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }
          .overlay{
            display: none;
          }
        }

        a.selected {
          .rm{
            font-weight: bold;
          }

          .overlay{
            background: #a3917d url('assets/tick-icon@x2.png') no-repeat center center / 22px 16px;
            position: absolute;
            display: block;
            pointer-events: none;
            top: 6px;
            left: 6px;
            width: 48px;
            height: 48px;
            z-index: 1000;
          }
        }
      }
    }
  }
}


/**
* Dashboard
*/
#dashboard{
  position: relative;
    
    #mapBtn{
      display: none;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      background: #fff;
      padding: 10px;
    }

    .cl-bar-title{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: 1000;
      background: rgba(104, 218, 212, 0.90);
      .cl-title{
        font-family: pacificoregular;
        color: #3a547c;
        text-transform: capitalize;
        font-size: 2.4em;
      }
    }

    .add-icon{
      display: block;
      padding: 14px;
      background: url("assets/add-icon@x2.png") no-repeat 16px 10px/20px 20px;
      height: 40px;
      width: 40px;
    }

    .search-icon{
      display: block;
      padding: 14px;
      background: url("assets/search-icon@x2.png") no-repeat center left/18px 18px;
      height: 18px;
      width: 18px;
    }

    #fullScreenButton{
      width: 40px;
      height: 40px;
      z-index: 1001;
      position: absolute;
      right: 0;
      top: 0;
      background: #b3aea6 url('assets/fullscreen-icon@x2.png') no-repeat center center / 15px 15px !important;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      top: 86px;
      right: 10px;
    }

    .cl-content{
      height: calc(100% - 50%) !important;
      background: #b6b7ba url('../../common/img/pattern4.png') 0 0 / 320px 300px;

      .cl-message{
        font-family: "aleolight";
        text-align: center;
        padding: 20px 10px;
        background-color: #fef5e4;
        line-height: 1.6em;
        margin-bottom: 20px;
      }
    }

    #sortBar{
      background-color: #282828;
      z-index: 1000;
      margin-top: -22px;
      text-align:center;

      #sortSelector{
        width: auto;
        display: block;
        margin-top: 7px;
        font-family: "ropa_sansregular";
        font-size: 13px;
        line-height: 11px;
        a{
          color: #fff;
          text-transform: uppercase;
          display: inline-block;
          padding: 10px;
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          font-size: 12px;
        }

        .active{
          background: #dd6562;
        }
      }

      #radius{
        float: right;
        background: none;
        border: 0;
        -webkit-appearance:none;
        margin: 0;
        line-height: 44px;
        width: 90px;
      }
    }

    #map_canvas{
      height: 50%;
    }

    #activityTable{
      .activityAuthor{
        background: #dacab4;
        padding: 10px;
        display: block !important;
        margin: 0 10px 10px 10px;
        font-family: "aleolight";
        a{
          font-weight: bold;
          color: #505050;
        }
      } 
      .full{
        background-color: #dd6562;
        color: #fff;
      }

      .activityContainer{
        background: #fff;
        display: block !important;
        margin: 15px 10px 0 10px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box; /* prevents bg color from leaking outside the border */
        position: relative;

        a{
          padding: 0;
        }

        h3{
          margin: 0;
          font-size: 1.8em;
          letter-spacing: -1px;
          text-transform: capitalize;
          font-weight: bold;
          color: #505050;
          padding: 0 10px;
          margin: 14px 0 4px;
          display: inline-block;
          font-family: "ropa_sansregular";
          small{
           letter-spacing: 0px;
            color: #505050;
            font-size: 14px;
            font-weight: normal;
            text-transform: uppercase;
          }
        }


      .dashboard-footer{
        padding-bottom: 4px;

        ul{
          margin: 0 10px;

          li{
            font-size: 12px;
            display: inline-block;
            padding-left: 20px;
            min-height: 36px;
            color: #505050;
          }

          .table-location{
            padding-left: 22px;
            background:url('assets/cursor-icon@x2.png') no-repeat 0 10px / 16px 15px;
            margin-right: 30px;
            float: left;
            line-height: 36px;
          }

          .table-friends{
            background:url('assets/friend-icon@x2.png') no-repeat 0 10px / 22px 16px;
            span{
              line-height: 36px;
              margin-left: 5px;
            }
            .avatar{
              display: block;
              width: 25px;
              height: 25px;
              border-radius: 25px;
              -webkit-border-radius: 25px;
              -moz-border-rafisu: 25px;
              margin: 4px 0 0 5px;
              float: left;
            }

            .avatar.selected{
              border: 3px solid #4dd6d1;
            }
          }
        }
      }
    }
  }
}

#container.landscape{
  #dashboard{
    height: 100%;

    #titleBar, #searchBar, #fullScreenButton, .cl-content, #mainNav, #sortBar{
      display: none;
    }

    #map_canvas{
      height: 100%;
      border-bottom: 3px solid #d95555;
      border-top: 3px solid #d95555;
      background: #d95555;
    }
  }

  #activityDetail{

    #activityDetailTabs, .cl-content{
      display: none;
    } 

    #activity-header, #activityMap{
      height: 100%;
    }
  }
}






#mainNav{
  background: #31414f;
  height: 54px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  .tab-item{
      position: relative;
      text-align: center;
      width: auto;
      float: left;
      margin: 12px 11px;
      height: auto;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      display: block;
    a{
      .tab-label{
        color: #fff;
        font-family: "source_sans_prosemibold";
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px;
      }
    }
  }

  .active{
    .tab-label{
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border: 1px solid #fff;
    }
  }
}

#dashboard.mapOpen{
  height: 100%;

  #mapBtn{
    display: block;
  }

  #sortBar{
    display: none;
  }
  .cl-content{
    display: none;
  }

  #mapButton{
    display: block;
  }


  #map_canvas{
    height: 100%;
  }

  #fullScreenButton{
    heigth: 40px;
    background: #a19a8f url('assets/normalscreen-icon@x2.png') no-repeat center center / 15px 15px !important;
  }
}


/** 
* Menu
*/
#mainMenu{
  background: #333333;
  
  .mm-list{
    margin-top: 184px;
    padding: 0;
    .mm-selected{
      background: #595959;
    }

    li{
      color: #fff;
      font-size: 15px;
    }
  }

  #userName{
    display: block;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    font-size: 1.3em;
    font-family: "aleolight";
    font-weight: 100;
  }

  #menuAvatarSection{
    padding: 20px 0 10px 0;

    #userAvatar{
      width: 90px;
      height: 90px;
      display: block;
      border-radius: 80px;
      margin: 0 auto;
      border: 1px solid #f4f4f4;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/**
* Running on a device but in the webbrowser
*/
#createButton{
  background: #dd6562 !important;
  margin-left: 15px;
  text-align: center;
  padding: 10px;
  font-family: "source_sans_prosemibold";
  display: block;
  width: 88%;
  text-transform: uppercase;
  font-size: 15px;
}


/** 
* Settings
*/
#settings{


.cl-content{
  padding: 0;
  height: calc(100% - 74px);
  background: #2f404b;

  h4{
    text-align: center;
  }

  h2{
    font-size: 1.2em;
    color: #fff;
  }

  li{
    padding: 15px 10px;
  }

    #favouriteSportSection{
      width: 100%;
      overflow: auto;
      padding-bottom: 10px;
      background: #72848f;

      div{
        float: left;
        display: inline-block;

        span{
          display: block;
          text-align: center;
          font-size: 11px;
        }

        a{
          width: 86px;
          height: 86px;
          background: #d2d2d2;
          margin: 10px;
          padding: 5px;
          float: left;
          text-align: center;
          font-size: 12px;
          border-radius: 40px;
          -webkit-border-radius: 42px;
          -moz-border-radius: 42px;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          position: relative;
          color: #fff;
        }

        a.sportselector-btn{
          background: #4cd6d1 url("assets/add-sport-icon@x2.png") no-repeat center center/18px 18px;
        }
      }
    }

    #avatarSection{
      padding-top: 20px;
      margin-bottom: 10px;
      overflow: auto;
      clear: both;

      .center{
        text-align:center;
        display: block;
        padding: 10px 0;
      }

      #userAvatar{
        width: 120px;
        height: 120px;
        display: block;
        border-radius: 80px;
        margin: 0 auto;
        border: 1px solid #f4f4f4;
        margin-left: auto;
        margin-right: auto;
      }

      h2{
        display: block;
        text-align: center;
        padding: 5px 0;
      }

      #avatarFunctionality{
        display: inline-block;
        margin-top: 40px;
        margin-left: 20px;
      }
    }
  }
}



#messageBox{
      background: #e6e6e6;
      border-top: 1px solid #cacaca;
      z-index: 20000;
      overflow: auto;
      padding: 5px 10px;
      position: fixed;
      bottom: 0;
      left: 10px;
      right: 10px;
      display: none;

      #messageSubmit{
        width: 100px !important; 
        float: right;
        text-align: center;
        line-height: 32px;
        font-family: "source_sans_prosemibold";
        font-size: 14px;
      }

      #messageInput{
        border: 0;
        -webkit-appereance: none;
        border-radius: 0;
        -wekit-border-radius: 0;
        -moz-border-radius: 0;
        width: 100%;
        padding-left: 6px;
        padding-right: 12px;
        margin: 3px 0 0 0;
        line-height: 30px;
      }
    }
#messageBox.open{
  display: block;
}


/**
* Activity Detail
*/
#activityDetail{
  #facebookShareButton{
    color: #fff;
    font-family: "source_sans_prosemibold";
    font-size: 14px;
    margin: 0;
    padding: 5px;
  }

  #ee{
    display: none;
    width: 75%;
    span{
      width: 75%;
    }
  }

  #goingFullMessage{
    margin-bottom: 20px;
  }

  #shareButton{
    margin-top: 12px;
  }

  .cl-bar-title{
    background: rgba(104, 218, 212, 0.90);
    min-height: 75px;
  }

  .cl-message{
    font-family: "aleolight";
    text-align: center;
    padding: 20px 10px;
    background-color: #fef5e4;
    line-height: 1.6em;
  }

  #description{
    line-height: 17px;
    font-size: 13px;
  }

  #popover{

    .cl-popover {
      bottom: 0;
      width: 100%;
      left: 0;
      border-radius: 0;

      #popover-close{
        padding: 2px;
      }

      ul{
        margin: 0;
        padding: 0;

        #facebookShareButton{
          margin-bottom: 10px;
        }

        li{
          list-style-type: none;
          margin: 0;

          a{
            padding: 10px 0;
          }
        }
      }
    }
  }

  .user_avatar{
    display: inline-block;
    border-radius: 42px;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    width: 50px;
    height: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  #mediaForm{
    height: 100%;
  }

  #mediaContent{
    #addMediaButton{
      width: 100%;
      line-height: 20px;
      display: block;
      padding: 10px 10px 10px 20px;
      margin-bottom: 20px;
      line-height: 22px;
      background: #dd6562 !important;
      color: #fff;
      font-family: "source_sans_prosemibold";
      font-size: 14px;
    }

    #mediaContenList{
      img{
        width: 100%;
        height: auto;
      }

      .user-box{
        background: #dadada;
        padding: 10px 5px;
        margin: 0 0 35px 0;
      }
    }
  }

  #activityInfo{
    height: 40px;
    width: 100%;
    background: #282828;
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 0 10px;
    z-index: 100;
    span{
      float: left;
      line-height: 40px;
      margin-left: 5px;
    }

    div{
      line-height: 40px;
      width: 100px;
      float: left;
    
      .location-icon{
        margin-top: 10px;
        float: left;
      }
    }

    #navigateButton{
      padding: 10px;
      margin-top: 4px;
      font-size: 12px;
      color: #252d34;
    }
  }

  #activityDetailTabs{
      margin-bottom: 0;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      text-transform: uppercase;
      .cl-btn{
        display: inline-block;
        float: left;
        font-size: 11px;
        width: auto;
        font-family: "source_sans_prosemibold";
        font-size: 13px;
        background-color: #282828;
        .active{
          background: #fff;
        }
      }
  }

  .cl-content{
    margin: 0;
    padding: 0;
    background: #31424f;
    overflow-y: auto;
    height: calc(100% - 55px);
    background: #868686 url("../../common/img/pattern4.png") 0 0/320px 300px;
    #navigateButton{

    }

    #activityContent{
      background: #fff;
      position: relative;
      overflow: auto;
      height: 100%;
      margin-left: 10px;
      margin-right: 10px;
      clear: both;
    }

    #praktischContent, #mediaContent, #messagesContent ul{
      padding: 20px 10px 0 10px;
      height: 100%;
      padding-bottom: 20px;

      span{
        float: right;
        color: #31414f;
      }
    }

    #aanwezigContent{
      div{
        float: left;
        margin-right: 5px;
      }
    }

    h4{
      display: inline-block;
      font-family: "bitteritalic";
      text-transform: capitalize;
      font-size: 12px;
    }

    hr{
      color:#FF0000;
      border:none;
      border-top:1px solid #d55353;
      height:1px;
      margin: 12px 0 24px 0;
      clear: both;
      display: block;
      color: #adadac;
      border: none;
      border-top: 1px solid #adadac;
      height: 1px;
    }
    #messagesContent{
      ul{
        .cl-message{
          padding: 20px 10px;
          background-color: #fef5e4;
          line-height: 1.6em;
        }

        margin-bottom: 40px;
      }
    }

    

    .message{
      margin: 0 0 15px 0;
      clear: both;

      h3{
        font-size: 1.1em;
        display: block;
        float: none;
        margin-bottom: 4px;
        color: #31414f;
        font-family: "source_sans_prosemibold";
      }

      .avatar{
        width: 40px;
        height: 40px;
        border-radius: 42px;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        width: 50px;
        height: 50px;
        float: left;
        background: #f1f1f1;
      }

      .messageBody{
        position: relative;
        height: auto;
        padding: 0px;
        background: #dadada;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 10px;
        margin-top: 5px;
        margin-left: 58px;

        p{
          color: #31414f;
        }
      }

      .messageBody:after{
        content: "";
        position: absolute;
        top: 5px;
        left: -5px;
        border-style: solid;
        border-width: 13px 13px 13px 0;
        border-color: transparent #dadada;
        display: block;
        width: 0;
        z-index: 1;
      }
    }

    .message:odd{
      display: none;
    }

    #goingList{
      margin-bottom: 30px;
      display: none;
      label{
        cursor: pointer;
        border: 1px solid #dd6562;
        color: #dd6562;
        text-align: center;
        line-height: 22px;
        font-family: "source_sans_prosemibold";
        font-size: 14px;
      }

      label:first-child{
        border-right: none;
      }

      .checked{
        background: #dd6562;
        color: #fff;
        border: 0;
      }
    }
  }
}

#searchBar{
  padding: 1px 5px;
  height: auto;
  background: #b04646 !important;
  
  #searchForm input[type=search]{
    -webkit-appearance: none;
    color: #fff;
    border: 0;
    width: 100%;
    border-radius: 0;
    padding: .8em .6em .8em .6em;
    font-size: 1em;
    border: 0;
    display: block;
    height: 40px;
    background: #b04646;
    padding-left: 28px;
    background:url('assets/search-icon@x2.png') no-repeat 10px 14px / 12px 12px;
  }
}



/** 
* Create Activity
*/
#createActivity{
  .cl-content{
    height: calc(100% - 192px);
  }

  #createActivityTabs{
    .active{
      background: #2e3e4b;
      color: #fff;
    }
  }

  #wieContent{
    .friend-box{
      margin: 15px;
      width: 100px;
      display-inline: block;
      float: left;

      h3{
        color: #fff;
      }

      .cl-btn{
      clear: both;
      }

      .friend-avatar{
        border-radius: 56px;
        -webkit-border-radius: 56px;
        -moz-border-radius: 56px;
        width: 100px;
        height: 100px;
        float: left;
      }
    }
  }
}

#container.keyboard{
  #createActivity{
    .cl-content{
      height: calc(100% - 122px);
    }

    .button-container{
      display: none;
    }
  }

  #createUser{


    .cl-content{
      height: calc(100% - 80px);
    }

    .button-container{
      display: none;
    }
  }

}



/**
*  Planner
*/
#planner{
  .cl-content{
    height: calc(100% - 20px);
    background: #e4e4e4;
  
    .cl-message{
      padding: 20px 10px;
      background-color: #fef5e4;
      line-height: 1.6em;
    }

    .cl-bar{
      background: #fef5e4;
      .cl-bar-text{
        color: #2f404c;
      }
    }

    .cl-table-cell{
      margin-bottom: 2px;

      span{
        margin: 5px 10px;
      }

      a{
        padding: 0;
      }

      h3{
        margin: 5px 0;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: bold;
        color: #2d3d4a;

        small{
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
}

/**
* Avatar
*/
#avatarView{
  #barContainer{
    #bars{
      padding: 10px;
      width: 30%;
      position: absolute;
      top: 30%;
      z-index: 1000;

      h4{
        text-transform: uppercase;
        margin-bottom: 3px;
      }

      progress{
        margin-bottom: 10px;
      }
    }
  }

  #avatar{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    .avatar-container{
      #avatarDisplay, #equipmentDisplay{
        position: relative;
        z-index: 5;
      }

      #equipmentDisplay{
        background: url('common/avatar/equipment_male_20.png') no-repeat;
        position: fixed;
        width: 100%;
        height: 200px;
        left: 0;
        bottom: 54px;
      }

      #avatarFloor{
        height: 150px;
        position: fixed;
        width: 100%;
        bottom: 54px;
        left: 0;
        background: #ededed;
        z-index: 1;
        display: none;
      }
    }
  }
}

/**
*  Profile
*/
#profile{
  
  #profileTabs{
    .active{
      background: #fff;
      color: #d55353;
    }
  }

  .cl-content{
    height: calc(100% - 156px);
    background: #fff;

    .friend-box{
      margin: 10px;
      width: 100px;
      display-inline: block;
      float: left;

      h3{
        color: #31414f;
        text-align: center;
        font-size: 1.4em;
        font-family: "source_sans_prosemibold";
      }

      .friend-avatar{
        border-radius: 56px;
        -webkit-border-radius: 56px;
        -moz-border-radius: 56px;
        width: 100px;
        height: 100px;
        float: left;
      }

      .removeFriend{
        float: left;
        clear: both;
        width: 100px;
        text-align: center;
        margin-top:10px;
      } 
    }

    .cl-bar{
      background: #fef5e4;
      .cl-bar-text{
        color: #2f404c;
      }
    }
  }
}

  #challengeView{
    background: #e4e4e4;


    .badge_img{
      float: left;
      display: inline-block;
      margin-right: 5px;
    }

    .challenge-item{
      padding: 10px 5px;
      margin-bottom: 2px;
      min-height: 76px;
      a{
        min-height: 20px;
        vertical-align: center;
      }

      p{
        padding-right: 90px;
        font-size: 12px;
        line-height: 1.4em;
      }
    }

    #myChallengesOverviewTable{
      p{
        padding-right: 0;
      }
    }

    .cl-btn{
      display: inline-block;
      width: auto;
      float:right;
      position: absolute;
      right: 5px;
      top: 5px;
    }

    h3{
      display: inline-block;
      font-size: 1.3em;
      margin-bottom: 5px;
    }

    #progressContainer{
      width: 100%;
      display: block;
      padding:10px 0;

      progress{
        width: 100%;
      }
    }

    #badgesOverview, #myChallengesOverviewTable, #challengesOverviewTable, #badgesView{

      .badge_img{
        float: left;
        display: inline-block;
        border-radius: 42px;
        -webkit-border-radius: 42px;
        -moz-border-radius: 42px;
        width: 50px;
        height: 50px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 5px;
        margin-top: 0;
        float: left;
      }
    }
  }

/** 
* Friend
*/
#friendView{
  position: relative;
  height: calc(100%-61px);
  
  #friendAddContainer{
    padding: 10px;
    clear: both;
  }

  #avatarView{
    #barContainer{
      display: none;
    }
  }

  #avatarView{
    height: 300px;
    position: relative;
  }

  .avatar{
    display: inline-block;
    width: 100%;
    height: 170px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    float: left;
  }

  #badgesView{
    overflow: auto;
    padding: 0 0 10px 10px;
    background: #d6d4c7;

    .badge_img{
      float: left;
      display: inline-block;
      border-radius: 42px;
      -webkit-border-radius: 42px;
      -moz-border-radius: 42px;
      width: 50px;
      height: 50px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-bottom: 5px;
      margin-top: 0;
      float: left;
    }
  }

  .cl-content{
    padding: 0;
    clear: both;
    height: calc(100% - 20px);

    #mediaContainer{
        .user-box{
          background: #dadada;
          padding: 10px 5px;
          margin: 0 0 35px 0;
        }
    }

    #avatarView{
      height: 250px;
    }

    #avatarView #avatarDisplay{
      height: 200px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      display: bock;
      z-index: 200;
    }

    #avatarView #avatar{
      height: auto;
      padding: 0;
    }

    #avatarView #avatar .avatar-container #avatarFloor{
      position: absolute;
      height: 100px;
      bottom: 0;
      display: none;
    }

    h3{
      font-family: "source_sans_prosemibold";
      text-transform: uppercase;
      font-size: 12px;
      text-align:right;
      padding: 10px;
      display: block;
    }

    #mediaContainer{
      clear: both;
      padding: 0 10px 10px 10px;

      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

#noConnection{
  .cl-message{
    padding: 10px;
    display: block;
    line-height: 1.4em;
  }
}


/**
* Navigation
*/
#navigationView{
    
    .cl-content{
        height: calc(100% - 54px);

    }
}


#profileContent, .avatar-page, #avatarView, #avatar{
  height: 100%;
}


/** 
* Offline
*/

#container.offline{
  
  #createActivityButton, #goingList, #addMediaButton, #messageBox, #sportSelectorButton, #changeAvatar, #mediaButton, #friendsButton, #favouriteSportSection, #navigateButton, #challengesButton, #shareButton
  { display: none; }

  #dashboard{
    #map_canvas{
      display: none;
    }
    .cl-content{
      height: calc(100% - 152px);
    }
  }
}

