/* line 3, ../../../../Development/dev/sass/android422.scss */
#activityDetail #activityDetailTabs .cl-btn {
  width: 33%;
}

/* line 9, ../../../../Development/dev/sass/android422.scss */
#mainNav {
  position: fixed;
  width: 100%;
}
